
@media screen and (max-width:700px) {
    
    #box
    {
        position:absolute; 
    
      width:98%;
        margin-top:350px;
    }
    #foot
    {
        margin-top:1000px;;
    }
}
#box
{
    position:absolute; 
     top:450px;
      width:98%
}
td img
{
    width:100%;
    height:300px;
}
td{
    width:33%;
}

#td1
{
    text-align:center;
}
table{
    width:100%;
}
#down
{
    height:50px; position:absolute; top:1100px; width:99%;
}