#head
{
width:99%;
height:350px;
background-image:url(.././images/flower.jpeg);
background-size:100%;
margin-right:1%;
position:absolute;

z-index:1;
}
#head1
{
width:98%;
height:330px;
background-color:darkcyan;
opacity:0.4;
position:absolute;
margin-top:10px;
margin-left:0.5%;

z-index:2;
}
#head2
{
width:80%;
height:310px;
position:absolute;
font-size:1.4em;
text-align:left;
margin-top:50px;
margin-left:10%;
z-index:3;
}
ul
{
  position:absolute;
    top:370px;
    width:99%; 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
  width:20%;
  height:50px;
  
}

li a {
  display: block;
  padding: 10px;
  text-transform:uppercase;
  text-decoration:none;;
  text-align:center;
  color:white;
  font-weight:bold;
  font-size:1.3em;
  
  background-color:darkcyan;
}
li a:hover {
  
  background-color:white;  
  color:darkcyan;
}
#foot
		{
			width:97%;
			height:35px;
			color:white;
            position:fixed;
            font-size:1.25em;
            text-align:center;
			background-color:rgb(23, 123, 123);
			bottom:0;
            padding-left:30px;
            padding-top:5px;
            z-index:1;
            margin-bottom: -15px;
		}
    
@media only screen and (max-width:960px) {


    #head
    {
   
    height:500px;
    background-size:auto;
    }
    #head1
    {
    height:480px;
    }
    #head2
    {
        height:460px;
        font-weight:bold;
    }
    
}
@media only screen and (max-width:700px) {

    ul
    {
      position:absolute;
        top:510px;
        width:99%; 
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      
    }
    
    li {
      display:block;
      width:99%;
      height:50px;
      
    }
    
    li a {
      display: block;
      padding: 10px;
      text-transform:uppercase;
      text-decoration:none;;
      text-align:center;
      color:white;
      font-weight:bold;
      font-size:1.3em;
      
      background-color:darkcyan;
    }
    li a:hover {
      
      background-color:white;  
      color:darkcyan;
    }





    #foot
    {
       
        position:absolute;
        top:810px;
       
    }
    
}



@media only screen and (min-width:701px) and (max-width:960px) {
    ul
    {
      position:absolute;
        top:510px;
        width:99%; 
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      
    }
    
    li {
      float: left;
      width:20%;
      height:50px;
      
    }
    
    li a {
      display: block;
      padding: 10px;
      text-transform:uppercase;
      text-decoration:none;;
      text-align:center;
      color:white;
      font-weight:bold;
      font-size:1.3em;
      
      background-color:darkcyan;
    }
    li a:hover {
      
      background-color:white;  
      color:darkcyan;
    }
    #foot
            {
              
                position:absolute;
                top:820;
            }
        }