<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" type="text/css" href="../public/css/style.css">
        <link rel="stylesheet" type="text/css" href="../public/css/about.css">
    </head>
    
    <body>
        <div id="head"></div>
<div id="head1"></div>
<div id="head2">
<h1>Delivering Smiles To Your Loved Ones Across World</h1>
<p>Encapsulated with the best of colors and fragrance, these can send a wish of well being, uplift spirits, and can say the unspoken profoundly. So, if you're seeking a token for special moments that can't be put into words, well, then order these flowers from the evergreen array available just for you.
</p>
</div>
<ul>
    <li><a href="/home">home</a></li>
    <li><a href="/product">product</a></li>
    <li><a href="/contact">contact</a></li>
    <li><a href="/about" style="background-color:white;color:darkcyan;">about</a></li>
    <li><a href="/gallery">gallery</a></li>
</ul>
<div id="about">
<h1>About Us</h1>
<hr>

<p>You can expect great customer service, fresh flower arrangements, beautiful floral designs, plants, gift baskets and much more.
<br>
    Make Flower Point your first choice for flowers.</p>
<h2>About The Company</h2>
    <p>
    
    Flower Point has been proudly serving all over the World and connecting areas for over 40 years. We are committed to offering only the finest floral arrangements and gifts. Backed by service that is friendly and prompt. All of our customers are important. That is why we always go the extra mile to make you smile and customize your perfect floral gift.
    </p>
      
      <center>
    <table>
    <tr>
        <th colspan="2">Service Hours</th>
        </tr>
        <tr>
<td>Days</td>
<td>Hours</td></tr>
<tr>
    <td>Sunday</td>
    <td>7:00 AM To 8:00 PM</td>
</tr>
<tr>
    <td>Monday</td>
    <td>7:00 AM To 10:00 PM</td>
</tr>
<tr>
    <td>Tuesday</td>
    <td>7:00 AM To 10:00 PM</td>
</tr>
<tr>
    <td>Wednesday</td>
    <td>7:00 AM To 10:00 PM</td>
</tr>
<tr>
    <td>Thursday</td>
    <td>7:00 AM To 10:00 PM</td>
</tr>
<tr>
    <td>Friday</td>
    <td>7:00 AM To 10:00 PM</td>
</tr>
<tr>
    <td>Saturday</td>
    <td>7:00 AM To 8:00 PM</td>
</tr>
</table>  
</center>


</div>
<div id="down"></div>
<div id='foot'>&copy; 2022 User Detail</div>

    </body>
</html>

