<!DOCTYPE html>
<html>
    <head>
        <title>Gallery</title>
        <link rel="stylesheet" type="text/css" href="../public/css/style.css">
        <link rel="stylesheet" type="text/css" href="../public/css/gallery.css">
    </head>
    <body>
        <div id="head"></div>
<div id="head1"></div>
<div id="head2">
<h1>Delivering Smiles To Your Loved Ones Across World</h1>
<p>Encapsulated with the best of colors and fragrance, these can send a wish of well being, uplift spirits, and can say the unspoken profoundly. So, if you're seeking a token for special moments that can't be put into words, well, then order these flowers from the evergreen array available just for you.
</p>
</div>
<ul>
    <li><a href="/home">home</a></li>
    <li><a href="/product">product</a></li>
    <li><a href="/contact">contact</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/gallery"  style="background-color:white;color:darkcyan;">gallery</a></li>
</ul>

<table cellspacing="10px">
<tr>
<td><img src="../public/images/f13.jpg" alt="not found"></td>
<td><img src="../public/images/f14.jpg" alt="not found"></td>
<td><img src="../public/images/f15.jpg" alt="not found"></td>
</tr>

<tr>
    <td><img src="../public/images/f1.jpg" alt="not found"></td>
    <td><img src="../public/images/f2.jpg" alt="not found"></td>
    <td><img src="../public/images/f3.jpg" alt="not found"></td>
    </tr>

    <tr>
        <td><img src="../public/images/f4.jpg" alt="not found"></td>
        <td><img src="../public/images/f5.jpg" alt="not found"></td>
        <td><img src="../public/images/f6.jpg" alt="not found"></td>
        </tr>
        
        <tr>
            <td><img src="../public/images/f7.jpg" alt="not found"></td>
            <td><img src="../public/images/f8.jpg" alt="not found"></td>
            <td><img src="../public/images/f9.jpg" alt="not found"></td>
            </tr>
            <tr>
                <td><img src="../public/images/f10.jpeg" alt="not found"></td>
                <td><img src="../public/images/f11.jpg" alt="not found"></td>
                <td><img src="../public/images/f12.jpg" alt="not found"></td>
                </tr>
                       


</table>

<div id="down"></div>
<div id='foot'>&copy; 2022 User Detail</div>

    </body>
</html>

