<!DOCTYPE html>
<html>
    <head>
        <title>Flower Point</title>
        <link rel="stylesheet" type="text/css" href="../public/css/style.css">
        <link rel="stylesheet" type="text/css" href="../public/css/index.css">
    </head>
    <body>
        <div id="head"></div>
<div id="head1"></div>
<div id="head2">
<h1>Delivering Smiles To Your Loved Ones Across World</h1>
<p>Encapsulated with the best of colors and fragrance, these can send a wish of well being, uplift spirits, and can say the unspoken profoundly. So, if you're seeking a token for special moments that can't be put into words, well, then order these flowers from the evergreen array available just for you.
</p>
</div>
<ul>
    <li><a href="/home">home</a></li>
    <li><a href="/product">product</a></li>
    <li><a href="/contact">contact</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/gallery">gallery</a></li>
</ul>
<div id="main_div">
<h2>Send Gorgeous Flower To Your Loved Ones</h2>
<p id="para">For the best and freshest flowers in Different Countries, 
    Flower Point has exactly what you're<br>
     looking for! Check out our wide selection of
      flower arrangements to make your next occasion memorable.
    </p>
    
<div id="sum">
    <dl>
        <dt>Summary:</dt>
    <dd>The view of a flower from any angle is an everlasting delight. It becomes the subject of school poems and sometimes seems to be the core factor of poetry. It is difficult to describe nature without giving allusion to the flowers.
    </dd>
    <dt>
    Types:
    </dt>
    <dd>
    They differ by means of their color, shape, size, aroma, and blossoming period. In Asian countries, the most commonly found flower genesis includes rose, lotus, jasmine, lily, sunflower, marigold, champak etc. In India, the mongo flowers bloom during every summer season. Whereas in Western and European countries; rose, daffodils etc. are considered as the most common genesis of flowers.Flowers are also found in different hues. Even different shapes and tinges get to see in the same genus of flowers. Each kind of a flower gives the impression of being scenic and picturesque.
    </dd>
    <dt>
    Beauty:</dt>
    <dd>
    The soft and gorgeous nature of flowers attracts the eyes of a viewer. The range of colors adds up additional touch to their beauty. Some flowers have combination of colors while some contain single color only. The saccharine aroma of a flower makes the surrounding air fresh to breathe. The smell of a flower or the group of flowers is taken out through their sides and conserved as perfume. Even the water of some aromatic flowers is strewn in congregations.
    </dd>
    <dt>
    Utility:</dt>
    <dd>There are a large number of benefits of flowers to the mankind. They are widely used in several types of decorations and ornamental arts.We can place flowers in the courtyard and backyard of our house. Even a garden of flowers increases the beauty of our house or any other place. The flowers are a natural source of honey. Bees accumulate several kinds of juices from the flowers and stock up it into their hives. They carry out further procedures on the collected juices and produce honey. Flower wraths are also used while providing homage to our deities. Flower garlands are used to honor the chief guests. Many artificial beautifying products such as hair oil, face scrubs, shampoos, hair gel etc. make use of flowers as a chore ingredient.
    </dd>
    <dt>A symbol of Love:</dt>
    <dd>Flowers, especially roses, are often considered as a symbol of love. Lovers greet their partner by giving colorful flowers or a bouquet.
    </dd>
    <dt>
    Harmful flowers:
    </dt>
    <dd>
    Not all flowers are good for human. Some flowers contain toxic chemicals. Even thorns of some flowers can scratch our hand. Some of the forest flowers can be dangerous. Touching them can cause skin diseases.
    </dd>
    <dt>Conclusion:</dt>
    <dd>Flowers are always been the nicest creation of nature. We must plant flowering trees around to our house, office, or empty place for getting more pleasure from this nature’s gift. Flowers have the ability to change someone’s mood. So we can take an advantage of this fact to impress our dear ones who are angry on us.</dt>
    </dl>
    </div>
   </div>
    <div id="down"></div>
<div id='foot'>&copy; 2022 User Detail</div>
    </body>
</html>